<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head_logoBox">
            <p class="3n_logo"><img src="../../static/img/3N_teamName.png" alt="3n 팀 로고"></p>
            <h1 class="insta_logo"><img src="../../static/img/instagram_logo.png" alt="인스타그램 로고"></h1>
        </div> <!-- head_logoBox -->

        <div class="searchBox">
            <p class="search_icon"><i class="fa-solid fa-magnifying-glass"></i></p>
            <form action="method" name="search-input">
                <h3 class="blind">search</h3>

                <div class="hd_searchBar">
                    <label for="" class="sound-only">
                        <strong class="sound-only">필수</strong>
                    </label>
                    <input type="text" name="hd_search" id="hd_search" class="hd_search" value required maxlength="30" placeholder="검색">
                </div>
            </form>
        </div> <!-- searchBox -->
    </header>
</body>
</html>