<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>3N Instagram</title>
</head>
<body>
    <div id="loginBox">
        <div class="sect-wrap">
            <div class="login_wrap">
                <h1 class="insta_logo"><a href="index.html"><img src="./img/instagram_logo.png" alt="instagram logo"></a></h1>
                <div class="inputBox">
                    <div class="ipBox input_tel">
                        <form action="">
                            <input type="text" placeholder="전화번호, 사용자 이름 또는 이메일">
                        </form>
                    </div> <!-- ipBox -->
                    <div class="ipBox input_pw">
                        <form action="">
                            <input type="text" placeholder="비밀번호">
                        </form>
                    </div> <!-- ipBox -->
                </div> <!-- inputBox -->

                <div class="kakaoBox">
                    <p><a href="">카카오톡 로그인하기</a></p>
                </div> <!-- kakaoBox -->
            </div> <!-- login_wrap -->
        </div> <!-- sect-wrap -->
    </div> <!-- login -->
</body>
</html>