<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>3N Instagram</title>
</head>
<body>
    <div class="instagram_bg">
        <div id="loginBox">
            <div class="sect-wrap">
                <div class="login_wrap">
                    <h1 class="insta_logo"><a href="login.html"><img src="../../static/img/instagram_logo.png" alt="instagram logo"></a></h1>
                    <div class="inputBox">
                        <div class="ipBox input_tel">
                            <label for="inputTel">
                                <input id="inputTel" type="text" placeholder="전화번호, 사용자 이름 또는 이메일">
                            </label>
                        </div> <!-- ipBox -->
                        <div class="ipBox input_pw">
                            <label for="inputPw">
                                <input id="inputPw" type="password" placeholder="비밀번호">
                            </label>
                        </div> <!-- ipBox -->
                    </div> <!-- inputBox -->

                    <div class="kakaoBox loginBtn">
                        <p><a href="">카카오톡 로그인하기</a></p>
                    </div> <!-- kakaoBox -->
                    <div class="signUpBox loginBtn">
                        <p><a href="">회원가입하기</a></p>
                    </div> <!-- signUpBox -->

                    <div class="team_logoBox">
                        <p class="line line1"></p>
                        <p class="team_logo"><img src="../../static/img/3N_teamName.png" alt="3N 팀 로고"></p>
                        <p class="line line2"></p>
                    </div>
                </div> <!-- login_wrap -->
            </div> <!-- sect-wrap -->
        </div> <!-- login -->
    </div>
</body>
</html>