//loginBox
#loginBox{
    max-width:500px;
    width:100%;
    height:635px;
    margin:50px auto 0;

    border:1px solid #ccc;
    text-align:center;

    .login_wrap{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

        padding:100px 35px 85px;

        .inputBox{
            max-width:425px;
            width:100%;
            margin:60px 0 35px;

            .ipBox{
                &.input_tel{
                    margin-bottom:15px;
                }

                form{
                    width:100%;
                    text-align:center;

                    input{
                        border:1px solid #bbb;
                        background:#efefef;
                        max-width:425px;
                        width:100%;
                        height:50px;
                        line-height:50px;
                        font-size:16px;
                        color:#666;
                        padding-left:20px;
                    }
                }                    
            }
        }

        .kakaoBox{
            max-width:425px;
            width:100%;
            height:50px;
            line-height:50px;
            margin:0 auto;
            background:#F9E000;
            transition:all 0.3S ease;

            &:hover{
                border-radius:10px;
            }

            p{
                text-align:center;

                a{
                    display:block;
                    width:100%;
                    height:100%;
                    font-size:16px;
                    font-weight:700;
                    color:#371A1A;
                }
            }
        }
    }
}