<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

<!--<div>-->
<!--    <div sec:authorize access="isAuthenticated()">-->
<!--        This content is only shown to authenticated users.-->
<!--    </div>-->
<!--    <div sec:authorize="hasRole('USER')">-->
<!--        This content is only shown to USER.-->
<!--    </div>-->
<!--    <div sec:authorize="!isAuthenticated()">-->
<!--        This content is only shown to all users.-->
<!--    </div>-->
<!--</div>-->



</body>
</html>